.navbar {
    background: #FFFFFF 0% 0% no-repeat;
    box-shadow: 0px 3px 6px #00000029;
    height: 4.5rem;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: all 1s ease;

    &:hover {
        box-shadow: none;
    }
}

.navbar-brand {
    color: #AC0C00;
    font-size: 32px;
    font-weight: 800;
    line-height: 34px;

    .sm-text {
        display: block;
        font-size: 8px;
        line-height: 14px;
        text-align: center;
    }
}

.nav-item {
    text-align: left;
    letter-spacing: 0.44px;
    color: #141414;
    text-transform: lowercase;
    opacity: 1;
    padding: 0 14px;
    font-weight: 500;
}

.navbar-text {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        .fa-solid {
            font-size: 20px;
            padding: 0 8px;
        }

        .fa-regular {
            font-size: 20px;
            padding: 0 8px;
        }
    }
}

.lang {
    text-align: left;
    letter-spacing: 0.34px;
    color: #141414;
    padding: 0 12px;
}

.country {
    padding: 0 12px;

    img {
        width: 30px;
        height: 24px;
    }

    span {
        padding: 0 12px;
        text-align: right;
        font-size: 12px;
        letter-spacing: 0.6px;
        color: #141414;
    }
}

.dropdown {
    background: #FFFFFF 0% 0% no-repeat;
    border-top: 0.5px solid rgba($color: #000000, $alpha: 0.2);
    box-shadow: 0px 3px 3px #00000029;
    height: 2.5rem;
    position: absolute;
    top: 4.5rem;
    width: 100%;
    transition: all 1s ease;


    ul {
        width: 80%;
        margin: 0 auto;
        display: flex;

        li {
            text-align: left;
            letter-spacing: 0.44px;
            text-transform: lowercase;
            opacity: 1;
            padding: 4px 10px;
            font-weight: 500;

            a {
                color: #141414;
                opacity: 0.8;
                font-size: 12px;
            }
        }
    }
}


@media(max-width: 767px) {
    .navbar-collapse {
        position: inherit;
        top: 8px;
        background-color: #FFFFFF;
    }
}

@media(max-width: 574px) {
    .navbar-collapse {
        position: inherit;
        top: 8px;
        background-color: #FFFFFF;
    }
}