<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>About Us</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">FAQ’s</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Return Policy & Procedures</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Contact Us</h4>
        <ul>
          <li>
            <a href="#"
              ><img
                class="sm-icons"
                src="../../../assets/icons/phone.svg"
              />+965 - XXXX XXXX</a
            >
          </li>
          <li>
            <a href="#"
              ><img
                class="sm-icons"
                src="../../../assets/icons/envelope.svg"
              />support@oshmoments.com</a
            >
          </li>
          <li>
            <a href="#"
              ><img
                class="sm-icons"
                src="../../../assets/icons/whatsapp.png"
              />WhatsApp Us</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Newsletter</h4>
        <ul>
          <li>
            <button type="button" class="signUp-btn">Sign Up Now</button>
            <input type="email" class="custom-input" placeholder="Your Email" />
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 class="text-right">Follow Us</h4>
        <div class="social-links">
          <a href="#"><img src="../../../assets/icons/twitter.png"/></a>
          <a href="#"><img src="../../../assets/icons/instagram.png"/></a>
        </div>
      </div>
      <div class="bottom-line">
        <h5>Copyright &#169; {{getYear()}} OSH Moments All Right Reserved.</h5>
        <div class="card-section">
          <img src="../../../assets/icons/knet.png" class="cards knet img-fluid"/>
          <img src="../../../assets/icons/visa.png" class="cards visa img-fluid"/>
          <img src="../../../assets/icons/mastercard.png" class="cards mastercard img-fluid"/>
        </div>
      </div>
    </div>
  </div>
</footer>
